
<div class="searchFormboxBorrowers">


    <h2>Borrowing a book:</h2>

    <form id="borrowingForm" method="POST" action="/books/borrowing/{{bookToBorrow.id}}">
        <select id="existingBorrower" name="existingBorrower">
            <option selected hidden style="display:none" required>Select Borrower</option>
            {{#each rowsToDisplay}}
            {{this.id}}
            <option value="{{this.id}}" id="borrowerID">{{this.name}}</option>
            {{/each}}
        </select><br>
        <h3>
            Confirm you would like to borrow the following book:</br>
        </h3>

        <input style="display:none" type="radio" checked="checked" value="{{bookToBorrow.title}}" id="bookID" name="bookBorrowing"><a href="/books/{{bookToBorrow.id}}">{{bookToBorrow.title}}</a></input>
        <input type="date"value="{{bookToBorrow.checkoutdate}}" name="bookCheckoutdate">{{bookToBorrow.checkoutDate}}</input>

        <br>
        <br>
        <button type="submit" onclick="return confirm('Are you sure you want to borrow {{bookToBorrow.title}}?')">Borrow</button>

    </form>




</div>
