
<!-- navigation bar with an unordered list -->


<div class="borrowers-header">
    <div class="searchFormboxBorrowers">
        <p>Search the library for borrowers (using name) or see the full list below</p>
        <form class="form-group" method="POST" action="/borrowers">
            <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for borrowers" name="borrowerName">
            <button class="btn btn-primary" id="searchBorrowerButton" type="submit">Search</button>
        </form>
        <hr class="bg-danger border-2 border-top border-primary" />
        <p>If the borrower isn't on the list, you can add them:</p>
        <a href="/maintain"><button class="btn btn-secondary" id="addBorrowerButton">Add A Borrower</button></a>
    </div>
</div>
<br><br>
<div class="table-responsive">
    <table class="center booksAndBorrowers">
        <caption>Borrowers in database:</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Currently borrowing books?</th>
            </tr>
        </thead>

          <tbody>
            {{#each rowsToDisplay}}
            <tr class="borderAround">
                <td><a href="/borrowers/{{id}}" class="openBorrowerModal">{{name}}</a></td>
                <td>{{phone}}</td>
                <td>{{email}}</td>
                {{#if borrowingstatus}}
                <td>Yes</td>
                {{else}}
                <td>No</td>
                {{/if}}
            </tr>
            {{/each}}

          </tbody>

    </table>
</div>
