<link href='/script.css'>
<!-- navigation bar with an unordered list -->
<h2>Search the library for borrowers or see the full list below</h2>

<div>
    <div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for borrowers">
        {{!-- <ol id="myUL">
            <li style="display: None;"><a href="">Mateo Estrada</a></li><br>
            <li style="display: None;"><a href="">Rhonda Smith</a></li><br>
            <li style="display: None;"><a href="">Oscar Rascal</a></li><br>
            <li style="display: None;"><a href="">Barry Allen</a></li><br>
            <li style="display: None;"><a href="">Wally West</a></li><br>
        </ol> --}}
    </div>
    <p>If the borrower isn't on the list, you can add him below:</p>

    <a href="/maintain"><button>Add A Borrower</button></a>


</div><br><br>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Currently borrowing books?</th>
            </tr>
        </thead>
          {{#each borrowers}}
            <tr>
              <td><a href="/borrowers/{{id}}" class="openBorrowerModal">{{name}}</a></td>
              <td>{{phone}}</td>
              <td>{{email}}</td>
              {{#if borrowingstatus}}
                  <td>Yes</td>
              {{else}}
              <td>No</td>
              {{/if}}
            </tr>
          {{/each}}
    </table>
</div>
