<div>
{{!-- To build this delete request: I used the following resource: https://www.makeschool.com/academy/track/standalone/rotten-potatoes---movie-reviews-with-express-js/editing-a-review --}}
    <h3>Are you sure you want to delete {{singleBorrower.name}}?</h3>
    <form id="deleteBorrowerForm" method="POST" action="/borrowers/{{singleBorrower.id}}?_method=DELETE">
        <li>Name: {{singleBorrower.name}}</li><br>
        <li>Phone: {{singleBorrower.phone}}</li><br>
        <li>Email: {{singleBorrower.email}}</li><br>
        {{!-- <button id="deleteButton">DeleteBorrower</button> --}}
        <button type="submit" onlick="confirm('Are you sure you want to delete'+{{singleBorrower.name}})">Delete</button>
    </form>
</div>