<div class="searchFormboxBorrowers">
    <h2>To correct data for <a href='/books/{{singleBook.id}}'>{{singleBook.title}}</a> , choose one of the fields below:</h2>
    <form class="update-form" method="POST" action="/books/edit/title/{{singleBook.id}}">
      <li>Title: <input type='text' name='bookTitle' value="{{singleBook.title}}"></li>
      <button type='submit' id="updateTitleButton" onclick="return confirm('Are you sure you want to change the title of {{singleBook.title}}?');">
          Update Title
      </button>
    </form>


    <form class="update-form" method="POST" action="/books/edit/addauthors/{{singleBook.id}}">
      <li>
        Add Additional Author(s) to Book:
      </li>
      <select multiple name="newAuthors">
          {{#each allAuthors}}
          <option>{{this}}</option>
          {{/each}}
      </select>
      <br/>

      <button type='submit' id="updateAuthorsButton" onclick="return confirm('Are you sure you want to add author(s) for {{singleBook.title}}?');">
          Add Author(s)
      </button>
    </form>

    <form class="update-form" method="POST" action="/books/edit/pagecount/{{singleBook.id}}">
      <li>Page Count: <input type='text' name='bookPages' value="{{singleBook.pgcount}}"></li>
      <button type='submit' id="updatePageCount" onclick="return confirm('Are you sure you want to change the page count for {{singleBook.title}}');">
          Update Page Count
      </button>
    </form>
    <form class="update-form" method="POST" action="/books/edit/language/{{singleBook.id}}">
      <li>
        Language:
      </li>
      <select name="newLanguage">
          {{#each allLanguages}}
          <option>{{this}}</option>
          {{/each}}
      </select>
      <br/>
      <button type='submit' id="updateLanguageButton" onclick="return confirm('Are you sure you want to change the language for {{singleBook.title}}?');">
          Update Language
      </button>
    </form>
    <form class="update-form" method="POST" action="/books/edit/addgenres/{{singleBook.id}}">
      <li>
        Add Additional Genre(s) to Book:
      </li>
      <select multiple name="newGenres">
          {{#each allGenres}}
          <option>{{this}}</option>
          {{/each}}
      </select>
      <br/>
      <button type='submit' id="updateGenresButton" onclick="return confirm('Are you sure you want to add genre(s) for {{singleBook.title}}?');">
          Add Genre(s)
      </button>
    </form>
    <form class="update-form" method="POST" action="/books/edit/publisher/{{singleBook.id}}">
      <li>
        Publisher:
      </li>
      <select name="newPublisher">
          {{#each allPublishers}}
          <option>{{this}}</option>
          {{/each}}
      </select>
      <br/>
      <button type='submit' id="updatePublisher" onclick="return confirm('Are you sure you want to change the publisher for {{singleBook.title}}?');">
          Update Publisher
      </button>
    </form>


    <form action="/books/{{singleBook.id}}">
      <button>Close Update Form</button>
    </form>
</div>
