<div>
    <h2>To correct data for <a href='/books/{{singleBook.id}}'>{{singleBook.title}}, </a> choose one of the fields below:</h2>
    <form class="update-form" method="POST" action="/books/edit/title/{{singleBook.id}}">
      <li>Title: <input type='text' name='bookTitle' value="{{singleBook.title}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><input type="submit" value="Update Title"></span></li>
    </form>
    <form class="update-form" method="POST" action="/books/edit/{{singleBook.id}}">
      <li>
        Author(s):
      </li>
      <select multiple>
          {{#each allAuthors}}
          <option>{{this}}</option>
          {{/each}}
      </select>
      <br/>
      <input type="submit" value="Update Author(s)">
    </form>
    <form class="update-form" method="POST" action="/books/edit/pagecount/{{singleBook.id}}">
      <li>Page Count: <input type='text' name='bookPages' value="{{singleBook.pgcount}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><input type="submit" value="Update Page Count"></span></li>
    </form>
    <form class="update-form" method="POST" action="/books/edit/{{singleBook.id}}">
      <li>
        Language:
      </li>
      <select multiple>
          {{#each allLanguages}}
          <option>{{this}}</option>
          {{/each}}
      </select>
      <br/>
      <input type="submit" value="Update Language">
    </form>
    <form class="update-form" method="POST" action="/books/edit/{{singleBook.id}}">
      <li>
        Genre(s):
      </li>
      <select multiple>
          {{#each allGenres}}
          <option>{{this}}</option>
          {{/each}}
      </select>
      <br/>
      <input type="submit" value="Update Genre(s)">
    </form>
    <form class="update-form" method="POST" action="/books/edit/{{singleBook.id}}">
      <li>
        Publisher:
      </li>
      <select multiple>
          {{#each allPublishers}}
          <option>{{this}}</option>
          {{/each}}
      </select>
      <br/>
      <input type="submit" value="Update Publisher">
    </form>
</div>
<form action="/books/{{singleBook.id}}">
  <button>Close Update Form</button>
</form>
</div>
