<div class="searchFormboxBorrowers">
  <form class="update-form" id="updateForm" method="POST" action="/books/edit/{{singleBook.id}}">
    <li>Title: <input type='text' name='bookTitle' value="{{singleBook.title}}"></li><br>
    <li>Author(s): <input type='text' name='bookAuthors' value="{{singleBook.authors}}"></li><br>
    <li>Author Nationality: <input type='text' name='authorNationalities' value= "{{singleBook.authornationalities}}"></li><br>
    <li>Pages: <input type='text' name='bookPages' value="{{singleBook.pgcount}}"></li><br>
    <li>Pages: <input type='text' name='bookLanguage' value="{{singleBook.lang}}"></li><br>
    <li>Pages: <input type='text' name='bookGenres' value="{{singleBook.genres}}"></li><br>
    <li>Pages: <input type='text' name='bookPublisher' value="{{singleBook.publisher}}"></li><br>
    <input type="submit" value="Submit"/>
  </form>

<form action="/books/{{singleBook.id}}">
  <button>Close Update Form</button>
</form>
</div>
