
<link href='/script.css'>

<h1 class="text-center">
    Database Management
</h1>
{{!-- forms to create update and delete --}}
{{!-- we want to have it on a link so that it pops up and then we can make the changes. --}}


<p class="fs-5 fw-bold mx-2">
    What would you like to add today?
</p>

{{!-- forms to create update and delete --}}
{{!-- we want to have it on a link so that it pops up and then we can make the changes. --}}
<p class="mx-2">
    If any of your book's information is not found in the book form's menus,
    add the information using the proper forms for each field before entering the book. </br> 
    For example: to add a book you will need Author, genre, and if someone will borrow it the borrower needs to be added as well.
</p>


<div class="menuForms">
    <h3> Adding Book(s):</h3>
    <h3> Adding Author(s) and Borrower:</h3>
    <h3> Adding additional information for Books:</h3>
    
    <div class="formbox" style="background-color: lightblue;">
        <h3>Add a Book:</h3>
        
        <button class="open-button" onclick="openForm()">Open Books Form </button><br>
        <div id="bookFormDiv">
            <form id="bookForm" method="POST" action="/booksForm">
                Title <input type='text' name='titleBook'><br>
            <label for="status">Currently being Borrowed?</label>
            <select id="status" name="status">
                <option value="Yes" id="Yes">Yes</option>
                <option value="No" id="No">No</option>
            </select><br>
            <select id="existingBorrower" name="existingBorrower">

              <option selected hidden style="display:none" required>Select Borrower</option>
                {{#each borrower}}
                    <option value="{{this.fullName}}" id="borrowerID">{{this.fullName}}</option>
                {{/each}}
            </select><br>
            Checkout Date (yyyy-mm-dd) <input type="date" name='checkoutDate'><br>
            Number of Pages <input type='number' name='pageCount' min="0" required><br>
            <select id="existingPublisher" name="existingPublisher" required>
              <option selected hidden style="display:none">Select Publisher</option>
                {{#each publisher}}
                <option value="{{this.publisher}}" id="publisherID">{{this.publisher}}</option>
                {{/each}}
            </select><br>
            <select id="existingLanguage" name="existingLanguage" required>
              <option selected hidden style="display:none">Select Language</option>
                {{#each lang}}
                <option value="{{this.lang}}" id="langID">{{this.lang}}</option>
                {{/each}}
            </select><br>
            <button type='submit' id="submitBook" onclick="return confirm('Are you sure you want to add this book?');">
                Add Book
            </button>
            <button class="close-button" onclick="closeForm()">Close Book Form</button>
            </form>
        </div>
    </div>

    <div class="formbox">
        <h3>Add an Author:</h3>
        <button class="open-button" onclick="openAuthorForm()">Open Authors Form </button><br>
        <div id="authorFormDiv">
            <form id="authorForm" method="POST" action="/authors">
                <ol style="list-style: none">
                    <li>First Name: <input type='text' name='firstName' required></li><br>
                    <li>Last Name: <input type='text' name='lastName' required></li><br>
                    <li>
                      <select id="existingNationality" name="nationText" required>
                          <option selected hidden style="display:none" >Select Nationality</option>
                          {{#each nationality}}
                            <option  name={{this.nationality}} value={{this.nationality}} id="nationID">{{this.nationality}}</option>
                          {{/each}}
                      </select>
                    </li>
                    <br/>
                </ol>

                <h4>
                    The Available Authors:
                </h4>
                <select multiple>
                    {{#each author}}
                    <option>{{this.fullName}}</option>
                    {{/each}}
                </select>
                </br>
                <br>
                <button type='submit' id="submitAuthor" onclick="return confirm('Are you sure you want to add this author?');">
                    Add Author
                </button>
                <button class="close-button" onclick="closeAuthorForm()">Close Author Form</button>
            </form>
        </div>
    </div>

    <div class="formbox" style="background-color: lightblue;">
        <h3>Add a Genre:</h3>
        <button class="open-button" onclick="openGenreForm()">Open Genre Form </button><br>
        <div id="genreFormDiv">
            <form id="genreForm" method="POST" action="/genres"><br>
                Genre: <input type='text' name='genre' required>
                <br>
                <button type='submit' onclick="return confirm('Are you sure you want to add this genre?');">
                    Add Genre
                </button>
                <button class="close-button" onclick="closeGenreForm()">Close Genre Form</button>
            </form>
        </div>
    </div>
    
    <div class="formbox" style="background-color: lightblue;">
    
        <h3>Add Author to Book:</h3>
        <button class="open-button" onclick="openBookAuthorForm()">Open Authors Form </button><br>
        <div id="bookAuthorFormDiv">
            <form id="bookAuthorForm" method="POST" action="/booksAuthorsForm">
    
                <p>
                    Select Book(s)</br>
                    Ctrl+click (Windows) or Command+Click (Mac) to select more than one
                </p>
                <select id="existingBook" name="existingBook" required>
                    {{#each books}}
                    <option value="{{this.title}}" id="bookID">{{this.title}}</option>
                    {{/each}}
                </select><br>
                <p>
                    Select Author(s)</br>
                    Ctrl+click (Windows) or Command+Click (Mac) to select more than one
                </p>
                <select id="existingAuthor" name="existingAuthor" multiple required>
                    {{#each author}}
                    <option value="{{this.fullName}}" id="authorID">{{this.fullName}}</option>
                    {{/each}}
                </select><br>
                <button type='submit' id="submitBookAuthor"
                    onclick="return confirm('Are you sure you want to add this this author to this Book?');">
                    Add Author(s) to Book(s)
                </button>
                <button class="close-button" onclick="closeBookAuthorForm()">Close Author Form</button>
            </form>
        </div>
    </div>

    <div class="formbox">
        <h3>Add an Author Nationality:</h3>
        <button class="open-button" onclick="openNationalityForm()">Open Nationality Form </button><br>
        <div id="nationalityFormDiv">
            <form id="nationalityForm" method="POST" action="/nationalities">
                <ol style="list-style: none">
                    <li>Nationality: <input type='text' name='nationality' required></li><br>
                    <li>
                        <br />
                </ol>
                <button type='submit' id="submitNationality"
                    onclick="return confirm('Are you sure you want to add this nationality?');">
                    Add Nationality
                </button>
                <button class="close-button" onclick="closeNationalityForm()">Close Nationality Form</button>
            </form>
        </div>
    </div>
    
    <div class="formbox" style="background-color: lightblue;">
        <h3>Add a Language:</h3>
        <button class="open-button" onclick="openLanguageForm()">Open Languages Form </button><br>
        <div id="languageFormDiv">
            <form id="languageForm" method="POST" action="/languages">
                <ol style="list-style: none">
                    <li>Language Name: <input type='text' name='lang' required></li><br>
                    <li>
                    <br />
                </ol>
                <button type='submit' id="submitLanguage" onclick="return confirm('Are you sure you want to add this language?');">
                    Add Language
                </button>
                <button class="close-button" onclick="closeLanguageForm()">Close Language Form</button>
            </form>
        </div>
    </div>

    <div class="formbox" style="background-color: lightblue;">
    
        <h3>Add Genre to Book:</h3>
        <button class="open-button" onclick="openGenreBookForm()">Open Genres Form </button><br>
        <div id="genreBookFormDiv">
            <form id="genreForm" method="POST" action="/genreBooksForm">
                <p>
                    Select Book(s)</br>
                    Ctrl+click (Windows) or Command+Click (Mac) to select more than one
                </p>
                <select id="existingBook" name="existingBook" required>
                    {{#each books}}
                    <option value="{{this.title}}" id="bookID">{{this.title}}</option>
                    {{/each}}
                </select><br>
                <br>
                <p>
                    Select Genre(s)</br>
                    Ctrl+click (Windows) or Command+Click (Mac) to select more than one
                </p>
                <select id="existingGenres" name="existingGenre" multiple required>
                    {{#each genre}}
                    <option value="{{this.genre}}" id="Autobiography">{{this.genre}}</option>
                    {{/each}}
                </select><br>
                <br>
    
    
                <button type='submit' id="submitAuthor"
                    onclick="return confirm('Are you sure you want to add this author?');">
                    Add Genre(s) to Book(s)
                </button>
                <button class="close-button" onclick="closeGenreBookForm()">Close Genre Form</button>
            </form>
        </div>
    </div>
   
    <div class="formbox">
        <h3>Add Borrowers with Contact Info:</h3>
        <button class="open-button" onclick="openBorrowForm()">Open Borrower Form</button>
        <div id="borrowFormDiv" style="display: none;">
            <form id='borrowForm' method="POST" action="/borrowerForm">
                First Name <input type='text' name='borrowerFirst' required><br>
                Last Name <input type='text' name='borrowerLast' required><br>
                Email <input type='email' id="email" name='email' required><br>
                Phone: (Format: 000-000-0000)<input type='tel' id="phone" name='phone' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    required><br>
                <br>
                <button type='submit' onclick="return confirm('Are you sure you want to add this Borrower?');">
                    Add Borrower
                </button>
                <button class="close-button" onclick="closeBorrowForm()">Close Borrower Form</button>
            </form>
    
        </div>
    </div>

    <div class="formbox" style="background-color: lightblue;">
        <h3>Add a Publisher:</h3>
        <button class="open-button" onclick="openPublisherForm()">Open Publishers Form </button><br>
        <div id="publisherFormDiv">
            <form id="publisherForm" method="POST" action="/publishers">
                <ol style="list-style: none">
                    <li>Publisher Name: <input type='text' name='publisher' required></li><br>
                    <li>
                        <br />
                </ol>
                <button type='submit' id="submitPublisher"
                    onclick="return confirm('Are you sure you want to add this publisher?');">
                    Add Publisher
                </button>
                <button class="close-button" onclick="closePublisherForm()">Close Publisher Form</button>
            </form>
        </div>
    </div>
</div>
<script src="forms.js" type="text/javascript"></script>
