<div class="searchFormboxBorrowers">

  <div class="individual-info-table" id="individualBookInfo">
    <table>
      <tr>
        <th>Title: </th>
        <td>{{singleBook.title}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Author(s):</th>
        <td>{{singleBook.authors}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Author Nationality: </th>
        <td>{{singleBook.authornationalities}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Pages: </th>
        <td>{{singleBook.pgcount}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Language: </th>
        <td>{{singleBook.lang}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Genre(s):</th>
        <td>{{singleBook.genres}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Publisher: </th>
        <td>{{singleBook.publisher}}</td>
      </tr>
    </table>
    {{#if singleBook.checkoutstatus}}
    <table>
      <tr>
        <th>Borrowed? </th>
        <td>Yes</td>
      </tr>
    </table>
    {{else}}
    <table>
      <tr>
        <th>Borrowed? </th>
        <td>No</td>
      </tr>
    </table>
    {{/if}}
    <table>
      <tr>
        <th>Check Out Date: </th>
        <td>{{singleBook.checkoutdate}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Borrower: </th>
        <td><a href="/borrowers/{{singleBook.borrowerid}}">{{singleBook.borrower}}</a></td>
      </tr>
    </table>
  </div>
  <br>

  <form action="/books/borroworreturn/{{singleBook.id}}" method="POST">
    {{#if singleBook.checkoutstatus}}
        <td><button type="Submit" name="returnButton" id="returnButton" onclick="return confirm('Are you sure you want to return this book?')">Return</button></td>
    {{else}}
        <td><button type="Submit" name="borrowButton" id="borrowButton">Borrow</button></td>
    {{/if}}
  </form>

  <br>
  <form action="/books/edit/{{singleBook.id}}" method="GET">
    <button id="updateButton">Update Book</button>
  </form>
  <form id="deleteBookForm" method="GET" action="/books/delete/{{singleBook.id}}">
    <button id="deleteButtonBooks">Delete Book</button>
  </form>
</div>
