<table><tr><th>Title: </th><td>{{singleBook.title}}</td></tr></table>
<table><tr><th>Author(s):</th><td>{{singleBook.authors}}</td></tr></table>
<table><tr><th>Author Nationality: </th><td>{{singleBook.authornationalities}}</td></tr></table>
<table><tr><th>Pages: </th><td>{{singleBook.pgcount}}</td></tr></table>
<table><tr><th>Language: </th><td>{{singleBook.lang}}</td></tr></table>
<table><tr><th>Genre(s):</th><td>{{singleBook.genres}}</td></tr></table>
<!-- <table><tr><th>Genre(s):</th><td>{{#each singleBook.genres}}, {{/each}}</td></tr></table> -->
<table><tr><th>Publisher: </th><td>{{singleBook.publisher}}</td></tr></table>
{{#if singleBook.checkoutstatus}}
  <table><tr><th>Borrowed? </th><td>Yes</td></tr></table>
{{else}}
  <table><tr><th>Borrowed? </th><td>No</td></tr></table>
{{/if}}
<table><tr><th>Check Out Date: </th><td>{{singleBook.checkoutdate}}</td></tr></table>
<table><tr><th>Borrower: </th><td>{{singleBook.borrower}}</td></tr></table>
