<link href='/script.css'>
<table><tr><th>Name: </th><td>{{singleBorrower.name}}</td></tr></table>
<table><tr><th>Phone: </th><td>{{singleBorrower.phone}}</td></tr></table>
<table><tr><th>Email: </th><td>{{singleBorrower.email}}</td></tr></table>
{{#if singleBorrower.titles}}
  <table><tr><th>Current Borrows: </th><td>{{singleBorrower.titles}}</td></tr></table>
{{else}}
  <table><tr><th>Current Borrows: </th><td>None</td></tr></table>
{{/if}}
