<div>
  <div class="individual-info-table" id="individualBorrowerInfo">
    <table><tr><th>Name: </th><td>{{singleBorrower.name}}</td></tr></table>
    <table><tr><th>Phone: </th><td>{{singleBorrower.phone}}</td></tr></table>
    <table><tr><th>Email: </th><td>{{singleBorrower.email}}</td></tr></table>
    {{#if singleBorrower.titles}}
      <table><tr><th>Current Borrows: </th><td>{{singleBorrower.titles}}</td></tr></table>
    {{else}}
      <table><tr><th>Current Borrows: </th><td>None</td></tr></table>
    {{/if}}
  </div>

  <div id="singleBorrowerUpdate">
    <form class="update-form" id="updateBorrowerForm" method="POST" action="/borrowers/{{id}}">
      <li>Name: <input type='text' name='borrowerName' value="{{singleBorrower.name}}"></li><br>
      <li>Phone: <input type='text' name='borrowerPhone' value="{{singleBorrower.phone}}"></li><br>
      <li>Email: <input type='text' name='borrowerEmail' value="{{singleBorrower.email}}"></li><br>
    </form>
  </div>
  <button id="borrowerUpdateButton" onclick="showUpdateForm()">Update Borrower</button>
  <button id="borrowerUpdateCloser" onclick="closeUpdateForm()">Close Update Form</button>
  <button id="borrowerDeleteButton">Delete Borrower</button>
</div>
<script src="singleborrower.js" type="text/javascript"></script>
